.all-border-black {
    border: solid 1px black;
    border-radius: 3px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-evenly {
    justify-content: space-around;
}

div {
    padding: 5px;
    margin: 5px;
}

.flex-1-1 {
    flex:1 1;
}

.flex-2-1 {
    flex:2 1;
}

.container-plein-ecran {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.barre-navigation{
    z-index: 5;
    position: relative;
    display: flex;
     justify-content: space-around;
}

.button-navigation {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px white solid;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.button-navigation:hover{
    background-color: #550074;
    transition: 0.5s;
}


section {
    position: relative;
    width: 100%; 
    height: 100vh;
    overflow: hidden; 

}

section.first{
    background:url(image/yes.jpg); 
    background-size: cover;

}

section.second{
    background:#fff; 
    padding: 50px 150px;
    box-sizing: border-box;
    height: auto;
    color: #0D0D0D;
}

section.last{
    background:url(image/yeees.jpg); 
    background-size: cover; 
}

.new{
    padding: 50px;
    margin-top: 535px;
    margin-left: 0px;  
    border-width: 100px 0 0 1400px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}

.new2{
    margin-left: 0px;
    margin-top: 0px;
    padding: 50px;
    width: 1200px;
    border-color: transparent transparent transparent #fff ;
    border-width: 0 0 100px 1400px;
    border-style: solid ;
}


.t1{
    color: #0016FF;
    font-size: 35px;
    font-family: BatmanForeverOutline;
}

.t2{
    color: #0016FF;
    font-size: 35px;
    font-family: BatmanForeverOutline;
}

.t{
    color: #0016FF;
    font-size: 25px;
    font-family: BatmanForeverOutline; 
}

.imm{
   margin-top: -65px;
    margin-left: -100px;
}


.login{
    width: 320px;
    height:420px;
    background: rgb(0, 0, 0, 0.5);
    color: #fff;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px; 
}

.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"], input[type="password"] {
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    font-size: 18px;
    border-radius: 20px;
}

.login input[type="submit"]:hover{
    cursor: pointer;
    background:#39dc79;
    color: #000;
}

.login a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login a:hover{
    color: #39dc79;
}

.login .exit-button {
    font-size: 30px;
    left: 0px;
    position: absolute;
    top: 0px;
    padding: 20px;
    color: red;
}

.conteneur{
            overflow: hidden;
            background: url("style/image/enr.jpg");
            height:1000px;
            background-size: absolute;
        }

        .tableau1{
            float: left; 

            background-color: grey;
        }
        .tab{
            margin-left: 500px;
            background: linear-gradient(to right,blue,pink,black);
            width: 500px;
            width: 420px;
            height: 420px;
            background: rgb(0.6,0.6,0.6,0.4);
            color: #fff;
            top: 40%;
            left: 30%;
            transform: translate(-50%,-50%);
            box-sizing: border-box;
            padding:70px 30px; 
            position: absolute;
            font-family: cooper black;

         }
        .tab input{
            display: block;
            margin-bottom: 20px; 
            margin: 7px;
            padding: 0;
            font-weight: bold;
            border:none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
            width: 320px;
        }

        button{
            border:none;
            outline: none;
            height: 40px;
            background: #f44d;
            font-size: 20px;
            border-radius: 10px;
            margin-left: 17px;
            padding-left: 10px;
            padding: 5px;
            margin-top: 50px;
        }

        .tab button:hover{
            cursor: pointer;
            background: linear-gradient(to right,#fff,#f44d);
        }

        tr{
            transition: all .3s ease-in-out;
        }
        tr:hover{   background-color: #eee; cursor: pointer;

        }